{% extends 'admin/admin_base.html.twig' %}

{% block title %}New Picture
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Upload a new picture</h1>

		{{ include('admin/cat_picture/_form.html.twig') }}

		<a href="{{ path('app_cat_picture_index') }}">back to list</a>
	</div>
{% endblock %}
