{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<main class="login">
		<div class="container-fluid">
			<div class="row d-flex justify-content-center">
				<div class="block-color col-10 col-lg-6 m-5 d-flex align-items-center flex-column">
					<h1 class="main-title mt-5 text-center text-light">
						Login</h1>
					{% if error %}
						<div class="fs-5 col-10 col-lg-6 text-center mt-2 alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<div class="element-bg w-100 p-5 d-flex justify-content-center">
						<form class="col-10 col-lg-6 mb-5" action="{{ path('login') }}" method="post">
							<div class="form-group my-5">
								<label for="username" class="mb-2 fs-5 text-dark">Email</label>
								<input type="text" class="form-control border-primary fs-5" id="username" name="_username" value="{{ last_username }}"/>
							</div>
							<div class="form-group my-5">
								<label for="password" class="mb-2 fs-5 text-dark">Password</label>
								<input type="password" class="form-control border-primary fs-5" id="password" name="_password"/>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="d-flex justify-content-end">
								<button class="btn btn-primary fs-4 text-light w-50 mt-3" type="submit">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>{% endblock %}
