@import "variables.scss";

main {
    background-image: url("../images/minettebowgr.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-shadow: 2px 2px 0px $titleShadowColor;
}

.home-elements {
    height: 100vh;
}

.element-bg {
    background-color: $transparentBg;
    box-shadow: $boxShadow;
    backdrop-filter: blur(7px);
    border-radius: 10px;
}

.card-bg {
    background-color: $transparentBg;
    box-shadow: $boxShadow;
    backdrop-filter: blur(7px);
}

.home-title {
    text-shadow: $subTitleShadow;
    font-size: clamp(1rem, 7vw, 3rem);
}

.cotm-img {
    -webkit-mask-image: linear-gradient(black 65%, transparent);
}

.cotm-title {
    margin-top: -10%;
}

@media screen and (max-width: 800px) {
    main {
        padding-bottom: 10rem;
    }

    .home-elements {
        height: 100%;
    }

    .header {
        margin-top: 10rem;
        height: 100%;
    }

    .card-bg {
        min-width: 80%;
    }
}