$primary: #01AAFD;
$secondary: #7C3F1D;
$dark: #49230D;
$light: #FFFAF8;
$titleShadowColor: rgba(188, 123, 86, 1);
$shadowColor: rgba(38, 17, 5, 0.5);
$adminColor: darken($primary, 50%);
$titleFont: "Homenaje", sans-serif;
$textFont: 'Hubballi', sans-serif;
$logoFont: "Lexend", sans-serif;

$lineHeight: 1.5;