{% extends 'base.html.twig' %}

{% block title %}New CatPicture{% endblock %}

{% block body %}
    <h1>Create new CatPicture</h1>

    {{ include('cat_picture/_form.html.twig') }}

    <a href="{{ path('app_cat_picture_index') }}">back to list</a>
{% endblock %}
