<footer>
  <div class="container-fluid footer bg-primary text-center d-flex flex-column justify-content-center align-items-center">
    <p class="text-light fs-5 mt-3"> © 
    Chloé Berthier - WCS 2022</p>
    <p class="text-light fs-5"> 
    The cats are NOT for sale. Sorry.</p>
  </div>
</footer>