<a class="anchor" id="introduction"></a>
<section class="introduction pb-5 mt-5 mt-lg-0">
<div class="home-elements d-flex flex-column justify-content-center align-items-center">
<h1 class="text-light main-title">Introduction</h1>
<div class="element-bg w-75 p-5">
<h2 class="introduction-title text-primary">Concept</h2>
<p class="fs-4 text-dark">I show off my cats, you get to enjoy their silly little faces and antics, but also vote for them in
the bloody competition of the cat of the month ! Everyone is happy (?).</p>
<p class="fs-4 text-dark">
The winner gets nothing in particular IRL though. There is no benefits for them. I’m teaching them 
what real life is. Sorry kids.</p>
<h2 class="introduction-title text-primary">The voting</h2>
<p class="fs-4 text-dark">The voting is quite simple : I give you a few comments about how the cat is doing this month, their good and bad points, and you rate them on a 5 stars system. The one with the best score at the end of the month gets to have their face on the front page. 
The score is then reset, of course.</p>
<h2 class="introduction-title text-primary">Why</h2>
<p class="fs-4 text-dark">why not.</p>
</div>
</div>
</section>