<nav class="navbar navbar-dark navbar-expand-lg bg-secondary sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand ms-2 text-light" href="/">Cat.com</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="d-flex justify-content-between">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link fs-4 text-light text-center" href="{{ path('app_cat_index') }}">The cats</a>
					<a class="nav-link fs-4 text-light text-center" href="{{ path('app_cat_picture_index') }}">Pictures</a>
					<a class="nav-link fs-4 text-light text-center" href="{{ path('app_user_index') }}">Users</a>
					<a class="nav-link fs-4 text-light btn-danger text-center" href="{{ path('logout') }}">
					Logout</a>
				</div>
			</div>
		</div>
	</div>
</nav>
